<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--전화, sms 담당 퍼미션 -->
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->
    <!--<uses-permission android:name="android.permission.DIAL_PHONE" />-->
    <!--<uses-permission android:name="android.permission.SEND_SMS" />-->
    <!--<uses-permission android:name="android.permission.RECEIVE_SMS" />-->
    <!--<uses-permission android:name="android.permission.RECEIVE_MMS" />-->
    <!--<uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />-->
    <!--<uses-permission android:name="android.permission.WRITE_SMS" />-->
    <!--<uses-permission android:name="android.permission.READ_SMS" />-->
    <!--<uses-permission android:name="android.permission.READ_CALL_L+OG" />-->

    <!-- 위치 담당 퍼미션 -->
    <!--도시 Block 단위의 정밀도의 위치 정보를 얻을 수 있습니다.-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- ACCESS_COARSE_LOCATION보다 더 정밀한 위치 정보를 얻을 수 있습니다. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cross"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cross"
        android:supportsRtl="true"
        android:theme="@style/Theme.Find_location"
        tools:targetApi="31">

        <!--액티비티 순서 및 연결 클래스 설정-->

        <!-- 1) 로딩 액티비티 -->
        <activity
            android:name=".intro_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- 2) main 액티비티-->
        <activity android:name=".MainActivity" />

    </application>
</manifest>